<a href="https://colab.research.google.com/github/stanley7/Machine-Learning/blob/master/Numpy/lambda_map_filter_reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Lambda function

#without lambda function
def fun(x):
  return x * 2

# With lambda function
y = lambda x: x * 2 
print(y(2))

In [ ]:
y = lambda x,y: x + y
print(y(2,3))

In [ ]:
z = lambda x,y: x > y
print(z(6,5))

True

In [ ]:
a = lambda x,y,z: x if x>y and x>z else y if y>x and y>z else z
print(a(8,1,9))
print(a(1,2,3))
print(a(0,0,0))
print(a(1,2,1))

In [ ]:
# Map

print(list(map(int, [1.1, 2.2,3.3])))

print(list(map(lambda x: x*2, [1,2,3,4,5,6,7,8,9])))

[1, 2, 3]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# Lambda and Map

x = lambda y: y**2
print(list(map(x, [1,2,3,4,5,6,7,8,9])))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def fibonacci(n):
  if n == 0:
    return 0
  if n==1:
    return 1
  if n>1:
     return fibonacci(n-1) + fibonacci(n-2) 
fibonacci(7)

13

In [ ]:
l = [0,1]
for i in range(2,7):
  l.append((l[i-2] + l[i-1]))
print(l)

[0, 1, 1, 2, 3, 5, 8]

In [ ]:
print(reduce(lambda x, y: x,y ))

In [ ]:
def c(l):
  if len(l)==0:
    return []
  else:
    return len(l)
c([1])

1

In [ ]:
def fun(s):          
    m = []
    try:
        for i in s.split():        
            if len(i) != 0:
                j = i.split('@')            
                ext = len(j[1].split('.')[1])                
   
                if (j[0].replace(' ', '').replace('-', '').replace('_', '')).isalnum() == True and ext>1 and ext<=3 and ((j[1].split('.')[0]).replace(' ', '').replace('-', '').replace('_', '')).isalnum()== True:

                    m.append(i)                
    except:
        pass

    if len(m)==0:
        return[]
    else:
        return sorted(m)

l = ['its@gmail.com1',
'mike13445@yahoomail9.server',
'rase23@ha_ch.com',
'daniyal@gmail.coma',
'thatisit@thatisit']
m = 'rase23@ha_ch.com'

print(fun(m))

['rase23@ha_ch.com']

In [ ]:
n = 5
answer = 0
count = 0
while n > 1:
  answer += 1
  n-=1
  count += 1
print(answer)
print(count)

4
4